#page {
  background-color: #D8EAF3;
}

#gwtPanel {
  margin:0 auto;
}

#headerContainer {
  padding: 0px 0px 0px;
  background-color: #2d3d4b;
  color: #fff;
}

#filterContainer {
    background-color: #4596b8;
    color: #fff;
    padding: 0px 0px 0px;
}

#viewPanelContainer {
       padding: 0px 0px 0px;
       background-color: #d8eaf3;
}

#header {
  width:100%
}

#heading {
  text-align: center;
}

#filterPanel {
  width:100%;
}

#viewPanel {
  margin:0 auto;
  height:940px;
  background-color:#D8EAF3;
}

#goButton {
  width:75px;
  float:right;
}

.gwt-ListBox {
  width:150px;
}

#graphInfoContainer > div
{
  display: inline-block;
}

#graphInfoContainer {
  text-align: center;
  width:100%;
  background-color: #D8EAF3;
}

#graphPanel {
  border-style:solid;
  border-width:2px;
  border-color:#ccc;
  height:900px;
  width:71%;
  background-color: #D8EAF3;
}

#summaryAndInfoPanel {
  float:right;
  border-style:solid;
  border-width:2px;
  border-color:#ccc;
  height:900px;
  width:28%;
  background-color: #D8EAF3;
}

#summaryPanel {
  border-bottom:2px solid #ccc;
  width:100%;
  background-color: #D8EAF3;
  text-align:left;
  padding-bottom:10px;
  padding-left:5px;
}

#infoPanel {
  padding-top:10px;
  padding-left:5px;
  width:100%;
  background-color: #D8EAF3;
  text-align:left;
}

div.tooltip {
  position:absolute;
  text-align:center;
  padding:2px;
  font:12px sans-serif;
  background:#ccc;
  border:0px;
  border-radius:8px;
  pointer-events:none;
}

.gwt-DatePicker {
  color: #ccc;
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
}

#tabs {
    width: 71%;
    margin: auto;
    overflow: hidden;
    background: #D8EAF3;
    display: none;
    float:left;
}

#tabs ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#tabs li {
    float: right;
}

#tabs li a {
    color: #444444;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border:none;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

#tabs li a:hover {
    background:#EBF4F8;
    cursor: pointer;
    cursor: hand;
}

#tabs li:last-child a {
    border-left:none;
}

#tabs li a.active {
    background:#EBF4F8;
    border:none;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

#tabs li:last-child a.active {
    border:none;
    border-bottom:1px solid #FFFFFF;
}

#tabs li:first-child a.active {
    border:none;
    border-left:1px solid #ccc;
    border-bottom:1px solid #FFFFFF
}

.valuesTable
{
	border-collapse:collapse;
	border:2px solid #ADADAD;
}

.valuesTable td, th
{
	border:2px solid #ADADAD;
}

div.healthtooltip {
  position:absolute;
  text-align:center;
  padding:2px;
  font:12px sans-serif;
  background:#ccc;
  border:0px;
  border-radius:8px;
}

#currentTimeLabel {
  float:right;
  text-align:right;
}