html, body {
  background-color: #D8EAF3;
}

#page {
  background-color: #D8EAF3;
}

#gwtPanel {
  margin: 0 auto;
}

#headerContainer {
  padding: 0px 0px 0px;
  background-color: #2d3d4b;
  color: #fff;
}

#filterContainer {
	background-color: #4596b8;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#topologyPanelContainer {
  padding: 0px 0px 0px;
  background-color: #EBF4F8;
	display: none;
}

#header {
  width: 100%
}

#heading {
  text-align: center;
}

#filterPanel {
  width: 100%;
}

#fullGraphContainer {
	display: none;
	padding-top: 2px;
	width: 99%;
}

#goButton {
  width: 75px;
  float: right;
}

.gwt-ListBox {
  width: 150px;
}

#topologyInfoContainer > div {
  display: inline-block;
}

#topologyInfoContainer {
  text-align: center;
  width: 100%;
  background-color: #EBF4F8;
}

#topologyPanel {
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  height: 900px;
  width: 71%;
  background-color: #EBF4F8;
}

#summaryAndInfoPanel {
  float: right;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  height: 900px;
  width: 28%;
  background-color: #EBF4F8;
}

#summaryPanel {
  border-bottom: 2px solid #ccc;
  width: 100%;
  background-color: #EBF4F8;
  text-align: left;
  padding-bottom: 10px;
}

#infoPanel {
  padding-top: 10px;
  width: 100%;
  height: 700px;
  overflow-y: auto;
  background-color: #EBF4F8;
  text-align: left;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #ccc;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.gwt-DatePicker {
  color: #ccc;
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
}

ul.tabs {
 margin: 0;
 padding: 0;
 float: right;
 list-style: none;
 height: 32px;
 border-right: 1px solid #ccc;
 width: 100%;
}

ul.tabs li {
 float: right;
 margin: 0;
 padding: 0;
 height: 31px;
 line-height: 31px;
 border: 1px solid #ccc;
 border-right: none;
 margin-bottom: -1px;
 overflow: hidden;
 position: relative;
 background: #D8EAF3;
}

ul.tabs li a {
 text-decoration: none;
 font-weight: bold;
 color: #444444;
 display: block;
 font-size: 1.2em;
 padding: 0 20px;
 outline: none;
 text-align: center;
}

ul.tabs li a:hover {
	background: #EBF4F8;
  cursor: pointer;
  cursor: hand;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
 background: #EBF4F8;
 border-bottom: 1px solid #EBF4F8;
}

#graphContainer {
 padding : 2px;
 padding-top: 10px;
 padding-right: 5px;
 padding-left: 5px;
 border: 1px solid #ccc;
 overflow: hidden;
 clear: both;
 float: left;
 width: 100%;
 background: #EBF4F8;
}

#tabsContainer {
	padding-top: 5px;
}

.valuesTable {
	border-collapse: collapse;
	border: 2px solid #ADADAD;
}

.valuesTable td, th {
	border: 2px solid #ADADAD;
}

.healthtooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #ccc;
  border: 0px;
  border-radius: 8px;
}

#currentTimeLabel {
  float: right;
  text-align: right;
}

.transparentButton {
  cursor: pointer;
  cursor: hand;
  color: #00f;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: left;
  background: #EBF4F8;
  border: #EBF4F8;
  padding: 0px;
  margin: 0px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	stroke-width : 1px;
	shape-rendering: crispEdges;
}

.x.axis path {
	/*display: none;*/
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}

.grid path {
	fill: none;
	stroke: darkgrey;
	stroke-width: 1.5px;
}

#timelinePanel {
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
	margin-top: 25px;
	height: 550px;
}

#tierButtonPanel {
	padding-top: 10px;
	padding-right: 100px;
	float: right;
}

.tierButton {
	float: right;
	width: 100px;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.collapsed {
  display: none;
}

.expanded {
  display: table-row;
}

.popuptransparentButton {
  cursor: pointer;
  color: #00f;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  background: transparent;
  border: transparent;
  padding: 0px;
}

.timelinetooltip {
  position: absolute;
  text-align: left;
  padding: 2px;
  font: 12px sans-serif;
  background: #ccc;
  border: 0px;
  border-radius: 8px;
  z-index: 1;
}