<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Servlets -->
    <servlet>
        <servlet-name>graphServlet</servlet-name>
        <servlet-class>com.inmobi.databus.visualization.server.DataServiceImpl
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>graphServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Visualization.html</welcome-file>
    </welcome-file-list>

</web-app>
